# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=d6297c5c-2f49-4b75-8433-5356e2989a40

    # Set to true to disable all reporting
    B:opt-out=false
}


