<html>
        <style>
                p{
                        text-align: center;
                }
        </style>
        <head>
                <title>{{title}}</title>
        </head>
        <body>
        <center>
                <br><br><br><br>
                <h2><span style="color:#00C6ED">{{title}}</span> <br> {{inform}}</h2>
                <br><br>
                <form action="/search" method="post">
                        <input value=Search type="submit" />
                </form>
                <br><br><br>
                <form action="/reg" method="post">
                        <input value=register type="submit" />
                </form>
                </center>
        </body>
        <body>
                <br><br><br>
                <p>
                        <a href="http://172.20.10.13">streaming</a>
                </p>
        <body>
</html>
~          