<html>
        <head>
                <title>{{title}}</title>
        </head>
        <body>
       	<center>
                <br><br><br><br>
                <h2><span style="color:#00C6ED">{{title}}</span> <br> {{inform}}</h2> 
		<form action="/echo_reg" method="post">
                        id: <input name="id" type="text" />
                        name: <input name="name" type="text" />
                        role: <input name="role" type="text" />
                        permission: <input name="perm" type="text" />
                        <input value=register type="submit" />
                </form>
                </center>
        </body>
</html>
