<html>
        <head>
                <title>{{title}}</title>
        </head>
        <body>
        <center>
                <br><br><br><br>
                <h2><span style="color:#00C6ED">{{title}}</span> <br> {{inform}}</h2>
                <form action="/echo_log" method="post">
			year: <input name="year" type="text" />
			month: <input name="month" type="text" />
                        day: <input name="day" type="text" />
			<input value=Search type="submit" />
                </form>
		<br><br>
                </center>
        </body>
</html>
